.login-wrapper {
    background-color:black;
}

.login-form {
    background-color: rgba(37, 53, 37, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    height: 360px;
}

.wrong_user {
    color: red;
}

.token {
    text-align: center;
    font-size: 8px;
    width: auto;
}