.signup-wrapper {
    background-color:black;
}

.signup-form {
    background-color: rgba(37, 53, 37, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    height: 360px;
}

.form-check-label {
    font-size: 10px;
}

.termsandconditions {
    text-decoration: underline;
    color:aqua;
}